@import "../fonts/index.css";
@import "./custom-media-query.css";
@import "./reset.css";

/** 
 * Colors
  ------------------------------------------ */

:root {
  --color-primary-base: #007f62;
  --color-purple-base: #8314d3;
  --color-orange-base: #f66c21;
  --color-navy-base: #385fcc;

  --color-primary-sub: #fae8e4;
  --color-purple-sub: #d0edf2;
  --color-orange-sub: #def7d1;
  --color-navy-sub: #ffdaff;

  --color-primary-accent: #007f62;
  --color-purple-accent: #8314d3;
  --color-orange-accent: #f66c21;
  --color-navy-accent: #385fcc;

  --color-primary-accent-hover: #245846;
  --color-purple-accent-hover: #54178e;
  --color-orange-accent-hover: #a05227;
  --color-navy-accent-hover: #2d428a;
}

:root {
  --color-text-default: #3c576f;
  --color-divider: #dae1e8;
  --color-divider-light: #efefef;
  --color-place-holder: #bbb;
  --color-black: #333;
  --color-grey: #eee;
  --color-white-transparent: rgba(256, 256, 256, 0.85);
  --color-gray-transparent: rgba(238, 238, 238, 0.8);
  --color-white: #fff;
  --color-alert: #db0000;
}

body {
  color: var(--color-text-default);
  background-color: var(--color-sub);

  * {
    transition: all linear 0.5s;
  }

  *:hover,
  *:focus {
    transition: all linear 0.1s;
  }

  h1 {
    color: var(--color-base);
  }

  h2, h3 {
    color: var(--color-text-default);
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-top: 2.5rem;
  }

  h3 {
    margin-top: 2rem;
  }

  /* pre-rendered by nuxt module */
  [data-vf-mdc] {
    a {
      color: var(--color-base);
      &:hover {
        color: var(--color-accent-hover);
      }
    }
  }

  &,
  &.theme-primary {
    --color-base: var(--color-primary-base);
    --color-sub: var(--color-primary-sub);
    --color-accent: var(--color-primary-accent);
    --color-accent-hover: var(--color-primary-accent-hover);
  }
  &.theme-purple {
    --color-base: var(--color-purple-base);
    --color-sub: var(--color-purple-sub);
    --color-accent: var(--color-purple-accent);
    --color-accent-hover: var(--color-purple-accent-hover);
  }
  &.theme-orange {
    --color-base: var(--color-orange-base);
    --color-sub: var(--color-orange-sub);
    --color-accent: var(--color-orange-accent);
    --color-accent-hover: var(--color-orange-accent-hover);
  }
  &.theme-navy {
    --color-base: var(--color-navy-base);
    --color-sub: var(--color-navy-sub);
    --color-accent: var(--color-navy-accent);
    --color-accent-hover: var(--color-navy-accent-hover);
  }
}

/** 
 * Typography
  ------------------------------------------ */

:root {
  /* align to BODY1 */
  * {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  /**
   * utilities 
   ------------------------------------------ */

  .text-body-1 {
    font-size: 16px;
    line-height: 24px;
  }

  .text-body-2 {
    font-size: 14px;
    line-height: 21px;
  }

  .text-body-3 {
    font-size: 13px;
    line-height: 19.5px;
  }

  .text-caption {
    font-size: 11px;
    line-height: 16.5px;
  }
}

@media (--mobile) {
  :root {
    /* align to BODY1 */
    * {
      font-size: 14px;
      line-height: 21px;
    }

    h1 {
      font-size: 18px;
      line-height: 27px;
    }

    h2 {
      font-size: 16px;
      line-height: 24px;
    }

    h3 {
      font-size: 14px;
      line-height: 21px;
    }

    /**
     * utilities 
     ------------------------------------------ */

    .text-body-1 {
      font-size: 14px;
      line-height: 21px;
    }

    .text-body-2 {
      font-size: 12px;
      line-height: 18px;
    }

    .text-body-3 {
      font-size: 11px;
      line-height: 15px;
    }

    .text-caption {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

:root,
[lang="ja"],
[lang="ja-JP"] {
  * {
    font-family: IBMPlexSansJP-Medium;
  }

  h1,
  h2,
  h3 {
    font-family: IBMPlexSansJP-Bold;
  }
}
[lang="en"],
[lang="en-US"] {
  * {
    font-family: JetBrainsMono-Regular;
  }

  h1,
  h2,
  h3 {
    font-family: JetBrainsMono-Bold;
    text-wrap-style: auto;
  }
}

/** 
 * Radius
  ------------------------------------------ */

:root {
  --radius-m: 1.25rem;

  @media (--mobile) {
    --radius-m: 0.625rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}


/**
  * Smooth Scroll
  ------------------------------------------ */

html:has(#pages-index) {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
