@import "../fonts/index.css";
@import "./custom-media-query.css";
@import "./reset.css";

/** 
 * Colors
  ------------------------------------------ */

:root {
  --color-primary-base: #0d7d63;
  --color-purple-base: #7820cb;
  --color-orange-base: #e17439;
  --color-navy-base: #415ec5;

  --color-primary-sub: #f7e8e4;
  --color-purple-sub: #cde8ec;
  --color-orange-sub: #d7eccd;
  --color-navy-sub: #f9dbfd;

  --color-primary-accent: #0d7d63;
  --color-purple-accent: #7820cb;
  --color-orange-accent: #e17439;
  --color-navy-accent: #415ec5;

  --color-primary-accent-hover: #045644;
  --color-purple-accent-hover: #471e84;
  --color-orange-accent-hover: #9d5f39;
  --color-navy-accent-hover: #354181;
}

:root {
  --color-text-default: #516982;
  --color-divider: #dbe1e7;
  --color-divider-light: #efefef;
  --color-place-holder: #bbbbbb;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-alert: #c81a1a;
}

body {
  color: var(--color-text-default);
  background-color: var(--color-sub);

  * {
    transition: all linear 0.5s;
  }

  h1,
  h2,
  h3 {
    color: var(--color-base);
  }

  &,
  &.theme-primary {
    --color-base: var(--color-primary-base);
    --color-sub: var(--color-primary-sub);
    --color-accent: var(--color-primary-accent);
    --color-accent-hover: var(--color-primary-accent-hover);
  }
  &.theme-purple {
    --color-base: var(--color-purple-base);
    --color-sub: var(--color-purple-sub);
    --color-accent: var(--color-purple-accent);
    --color-accent-hover: var(--color-purple-accent-hover);
  }
  &.theme-orange {
    --color-base: var(--color-orange-base);
    --color-sub: var(--color-orange-sub);
    --color-accent: var(--color-orange-accent);
    --color-accent-hover: var(--color-orange-accent-hover);
  }
  &.theme-navy {
    --color-base: var(--color-navy-base);
    --color-sub: var(--color-navy-sub);
    --color-accent: var(--color-navy-accent);
    --color-accent-hover: var(--color-navy-accent-hover);
  }
}

/** 
 * Typography
  ------------------------------------------ */

:root {
  /* align to BODY1 */
  * {
    font-size: 16px;
    line-height: 27px;
  }

  h1 {
    font-size: 20px;
    line-height: 34px;
  }

  h2 {
    font-size: 18px;
    line-height: 31px;
  }

  h3 {
    font-size: 16px;
    line-height: 27px;
  }

  /**
   * utilities 
   ------------------------------------------ */

  .text-body-1 {
    font-size: 16px;
    line-height: 27px;
  }

  .text-body-2 {
    font-size: 14px;
    line-height: 24px;
  }

  .text-body-3 {
    font-size: 13px;
    line-height: 22px;
  }

  .text-caption {
    font-size: 11px;
    line-height: 19px;
  }
}

@media (--mobile) {
  :root {
    /* align to BODY1 */
    * {
      font-size: 14px;
      line-height: 24px;
    }

    h1 {
      font-size: 18px;
      line-height: 31px;
    }

    h2 {
      font-size: 16px;
      line-height: 27px;
    }

    h3 {
      font-size: 14px;
      line-height: 24px;
    }

    /**
     * utilities 
     ------------------------------------------ */

    .text-body-1 {
      font-size: 14px;
      line-height: 24px;
    }

    .text-body-2 {
      font-size: 12px;
      line-height: 20px;
    }

    .text-body-3 {
      font-size: 11px;
      line-height: 19px;
    }

    .text-caption {
      font-size: 10px;
      line-height: 17px;
    }
  }
}

:root,
[lang="ja"],
[lang="ja-JP"] {
  * {
    font-family: IBMPlexSansJP-Medium;
  }

  h1,
  h2,
  h3 {
    font-family: IBMPlexSansJP-Bold;
  }
}
[lang="en"],
[lang="en-US"] {
  * {
    font-family: JetBrainsMono-Regular;
  }

  h1,
  h2,
  h3 {
    font-family: JetBrainsMono-Bold;
    text-wrap-style: auto;
  }
}

/** 
 * Radius
  ------------------------------------------ */

:root {
  --radius-m: 1.25rem;

  @media (--mobile) {
    --radius-m: 0.625rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
